@model ChangeInventoryRequest
<div>
    <div>
        <label>Name of Accessory</label>
        <input type="text" id="accessoryRow"/>
    </div>

    <div>
        <label>USD Cost</label>
        <input type="number" id="costRow" />
    </div>

    <div>
        <button id="updateItem" value="Update">Update</button>
    </div>
</div>