@model HockeyManager.Models.CreateEmployeeRequest

<h2>Create Employee</h2>
<div>
    <form method="post" asp-controller="Employee" asp-action="Create">
         <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="USDSalary"></label>
            <input asp-for="USDSalary" />
            <span asp-validation-for="USDSalary"></span>
        </div>

        <div>
            <input type="submit" value="Create User" />
        </div>
    </form>
</div>