<h2>Change Employee</h2>
<div>
        <div>
            <label>Email</label>
            <input type="text" id="emailRow"/>
        </div> 

        <div>
            <label>USD Salary</label>
            <input type="number" id="salaryRow"/>
        </div>

        <div>
            <button id="updateEmployee" value="Update">Update</button>
        </div>
</div>