@model ChangePlayerRequest
<div>
    <div>
        <label>Name</label>
        <input type="text" id="accessoryRow"/>
    </div>

    <div>
        <label>Surname</label>
        <input type="number" id="costRow" />
    </div>

    <div>
        <label>Position</label>
        <select id="positionSelecter">
            <option value="Left Winger">Left Winger</option>
            <option value="Right Winger">Right Winger</option>
            <option value="Center Forward">Center Forward</option>
            <option value="Defensemen">Defencemen</option>
            <option value="Goalie">Goalie</option>
        </select>
    </div>

    <div>
        <label>
        <input type="checkbox" id="captainCheckBox"/>
        Is Captain?</label>
    </div>

    <div>
        <button id="updateItem" value="Update">Update</button>
    </div>
</div>