@model string

<h2>Change Employee</h2>
<div>
        <div>
            <label>Role: </label>
            <input id="getName"/>
        </div> 

        <div>
            <button id="updateEmployee" value="Update">Update</button>
        </div>
</div>