<h2>Change Roles</h2>
<div>
        <div>
            <label>Role: </label>
            <input type="text" id="getName"/>
        </div> 

        <div>
            <button id="updateEmployee" value="Update">Update</button>
        </div>
</div>